.img {
    background: url('image1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

title {
    color: #4CAF50;
    font-size: x-large;
    font-style: italic;
}

body {
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

.loc {
    font-family: 'Ubuntu', sans-serif;
    border: 2px solid white;
    background-color: black;
    font-size: medium;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    width: 15%;
}

.area {
    font-family: 'Ubuntu', sans-serif;
    border: 2px solid white;
    background-color: black;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    width: 15%;
}

.sub {
    border: 2px solid white;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    width: 15%;
}

li {
    display: inline;
}

li {
    float: left;
}

a {
    display: block;
    padding: 8px;
    background-color: rgb(119, 114, 114);
}

ul {
    background-color: rgb(119, 114, 114);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

li a:hover {
    background-color: rgb(56, 50, 50);
}

.active {
    background-color: #4CAF50;
}

footer {
    font-family: 'Ubuntu', sans-serif;
    background-color: black;
    padding: 30px 50px;
    margin: -8px;
    color: rgb(119, 114, 114);
}

.box {
    background-color: black;
    padding: 15px 10px;
    margin: 0px 500px;
    border-radius: 25px;
}